.btn{
    width: 140px;
    height: 40px;
    background-color: yellow;
    border: none;
    margin: 20px 10px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
    color: yellow;
    cursor: pointer;
}

.cardDetaill{
    width: 650px;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 0, 0.572);
    margin: 0 auto;
    padding: 10px;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.img{
    border-radius: 1.5rem;
}