.btn{
    width: 140px;
    height: 40px;
    background-color: yellow;
    border: none;
    margin: 20px 10px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
    color: yellow;
    cursor: pointer;
}

.containerCards{
    width: fit-content;
}

.containFiltersAndOders{
    display: flex;
    align-items: center;
    justify-content: center
}

.nameOrder{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: yellow;
    margin-left: 30px;
}

.selectOrder{
    margin: 10px;
}

.nameFilter{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: yellow;
    margin-left: 30px;
}

.selectFilter{
    margin: 10px;
}

.divCard{
    width: 300px;
    display: block;
    float: left;
    margin: 10px 20px 10px 10px;
}